.app{
  text-align: center;
  padding: 40px;
}

.weather-card{
  width: 300px;
  margin: 30px auto;
  padding: 30px;
  border-radius:15px;
  background-color: lightblue;

}


.weather-card h2{
  font-size: 28px;

}

.weather-card h3{
  font-size: 48px;
  margin:20px 0;
}

.weather-card p{
  font-size: 20px;
}